image:
  repository: "097635932419.dkr.ecr.us-east-1.amazonaws.com/helmkube-autowake/hello-app"
  tag: "v1.2.2"
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 3000
  nodePort: 30080

resources: {}

livenessProbe:
  path: /
  port: 3000
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3

readinessProbe:
  path: /
  port: 3000
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 2
  failureThreshold: 3
