# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Keep the lockfile (tracked)
#! infra/.terraform.lock.hcl

# Build artifacts
infra/build/
*.zip

# Local kubeconfigs (never store)
*/*k3s*.yaml
k3s*.yaml

# Node & OS junk
node_modules/
.DS_Store

# IDE
.vscode/
.idea/
