region        = "us-east-1"
project_name  = "helmkube-autowake"
github_org    = "YOUR_GH_ORG"
github_repo   = "YOUR_REPO"
image_tag     = "latest"
node_port     = 30080
instance_type = "t3.large"
key_name      = "your-keypair-name"
